@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.cardlayout {
  background-color: purple;
  width: 200px;
  height: 200px;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
